body {
    padding-bottom: 10em;
}

.btn-now {
    text-indent: -9999px;
    line-height: 0;
}

.btn-now::after {
    content: "Today";
    text-indent: 0;
    display: block;
    line-height: initial;
}

.data-form.noerrors .panel.errors {
    display: none;
}

.data-form .form-control + div > p {
    display: none;
}

.data-form .error-detail {
    display: none;
}
